/*
Step 1 - Add images to the HTML code.
Step 2 - Identify the class selectors that need to be included in the CSS file.
Step 3 - Build the CSS selectors according to the following elements: logo, nav (parent and child), column (parent and child), and footer.
	*/

body {
	margin: 0;
}

/* Navigation styles */
.logo {
	height: 100px;
	background-image: url("../images/jakes-logo.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 25px;
}

.nav {
	background-color: black;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left {
	justify-content: flex-start;
	padding-left: 25px;
}

.left button {
	background-color: lightskyblue;
	color: black;
	text-align: center;
	font-size: 16px;
	padding: 5px 50px;
}
.center a {
	color: white;
	text-decoration: none;
	margin: 10px;
}

.right {
	justify-content: flex-end;
	padding-right: 25px;
}

.right button {
	background-color: yellow;
	color: black;
	text-align: center;
	font-size: 16px;
	padding: 5px 50px;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-repeat: no-repeat;
}
.meal1 {
	background-image: url("../images/steak.png");
	margin: 30px;
	height: 300px;
	background-repeat: no-repeat;
}
.meal2 {
	background-image: url("../images/soup.png");
	margin: 30px;
	height: 300px;
	background-repeat: no-repeat;
}
.meal3 {
	background-image: url("../images/cheesecake.png");
	margin: 30px;
	height: 300px;
	background-repeat: no-repeat;
}
/* Column styles */

/* Footer Styles */
